@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

$primary-color: #1C2BFC;

body {
    display: grid;
    grid-template-areas:
        "nav nav nav"
        "header header header"
        "skills skills skills"
        "projects projects projects"
        "contact contact contact";
    overflow-x: hidden;
}

@import './components/navbar';
@import './components/header';
@import './components/skills';
@import './components/projects';
@import './components/contact';
@import './components/medias';