nav {
    background: $primary-color;
    height: 10vh;
    grid-area: nav;

    .container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin: auto 100px;
        font-weight: bold;
        font-family: 'Inter', sans-serif;
        color: #fff;
        height: 100%;

        img {
            border-radius: 50%;
            width: 55px;
            cursor: pointer;
        }

        ul {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            width: 30%;
            list-style: none;

            li {
                a {
                    display: flex;
                    justify-content: center;
                    color: #fff;
                    text-decoration: none;
                    position: relative;
                    transition: 0.3s;

                    div {
                        position: absolute;
                        content: "";
                        bottom: -5px;
                        left: 50;
                        width: 0;
                        height: 2px;
                        background: #fff;
                        transition: 0.3s;
                    }

                    &:hover {

                        div {
                            width: 100%
                        }

                    }
                }

            }

        }
    }
}